<h1>Welcome {{user.username}}</h1>

<section>
    <h2>Projects</h2>

    <h3>Owned by you:</h3>
    @for (project of ownedProjects; track $index) {
    <article>
        <h4>{{ project.name }}</h4>
        <p>{{ project.owner }}</p>

    </article>
    }

    <h3>Starred in:</h3>
    @for (project of starredProjects; track $index) {
    <article>
        <h4>{{ project.name }}</h4>
        <p>{{ project.owner }}</p>

    </article>
    }
</section>

<section>
    @if (emailChanegSuccess) {
    <p>{{emailChanegSuccess}}</p>
    }
    <h2>Change Email</h2>

    <form #changeEmailForm="ngForm" (ngSubmit)="changeEmail(changeEmailForm)">
        <input name="email" ngModel required type="email" placeholder="Email">

        <input name="newEmail" ngModel required placeholder="New Email">

        <input name="password" ngModel required type="password" placeholder="Password">

        <button type="submit">Register</button>
    </form>
</section>

<section>
    @if (usernameChangeSuccess) {
    <p>{{usernameChangeSuccess}}</p>
    }
    <h2>Change Username</h2>

    <form #changeUsernameForm="ngForm" (ngSubmit)="changeUsername(changeUsernameForm)">
        <input name="email" ngModel required type="email" placeholder="Email">

        <input name="newUsername" ngModel required placeholder="New Username">

        <input name="password" ngModel required type="password" placeholder="Password">

        <button type="submit">Register</button>
    </form>
</section>

<section>
    @if (passwordChangeSuccess) {
    <p>{{passwordChangeSuccess}}</p>
    }
    <h2>Change Password</h2>

    <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
        <input name="email" ngModel required type="email" placeholder="Email">

        <input name="currentPassword" ngModel required type="password" placeholder="Current password">

        <input name="newPassword" ngModel required type="password" placeholder="New Password">

        <button type="submit">Register</button>
    </form>
</section>