<div class="home-container">
    <header>
        <h1>{{user.username}}'s homepage</h1>
        <nav>
            <a routerLink="/change-email">Change Email</a>
            <a routerLink="/change-username">Change Username</a>
            <a routerLink="/change-password">Change Passowrd</a>
            <a routerLink="">Logout</a>
        </nav>
    </header>

    <section class="section-card">
        <h2 class="form-title">Create new project</h2>

        <form #createProjectForm="ngForm" (ngSubmit)="createProject(createProjectForm)">
            <div class="input-group">
                <input name="projectName" ngModel required type="text" placeholder="Project name">
            </div>

            <button type="submit">Create</button>
        </form>
    </section>

    <section class="projects">
        <div class="owned-projects">

            @if (ownedProjects.length > 0) {
                <h2 class="section-title">Owned projects</h2>

                <div class="project-cards-container">

                    @for (project of ownedProjects; track $index) {
                        <article class="project-card">
                            <a routerLink="/project/{{project.id}}">
                                <h4>{{ project.name }}</h4>
                                <p>{{ project.owner }}</p>
                            </a>
                        </article>
                    }
                </div>
                
            }
        </div>

        <div class="starred-projects">

            @if (starredProjects.length > 0) {
                <h2 class="section-title">Owned projects</h2>

                <div class="project-cards-container">

                    @for (project of starredProjects; track $index) {
                        <article class="project-card">
                            <a routerLink="/project/{{project.id}}">
                                <h4>{{ project.name }}</h4>
                                <p>{{ project.owner }}</p>
                            </a>
                        </article>
                    }
                </div>
                
            }
        </div>
    </section>
</div>