<main>
    <div class="section-card">

        <h2>Change Password</h2>

        <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
            <div class="input-group">
                <input name="email" ngModel required type="email" placeholder="Email">
            </div>

            <div class="input-group">
                <input name="currentPassword" ngModel required type="password" placeholder="Current password">
            </div>

            <div class="input-group">
                <input name="newPassword" ngModel required type="password" placeholder="New Password">
            </div>

            <button type="submit">Change Password</button>
        </form>
    </div>
</main> 
