<main>
    @if (validationErrors) 
    {
        @for (error of validationErrors; track $index) 
        {
            <p class="error">{{ error.message }}</p>
        }   
    }

    @if (errorMessage)
    {
        <p class="error">{{ errorMessage }}</p>   
    }
    
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input name="email" ngModel required type="email" placeholder="Email">
        <input name="password" ngModel required type="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</main>
