<main class="register-container">

    <div class="register-card">

        <h1 class="title">Registrazione</h1>

        @if (validationErrors) 
        {
            @for (error of validationErrors; track $index) 
            {
                <p class="error">{{ error.message }}</p>
            }   
        }

        @if (errorMessage)
        {
            <p class="error">{{ errorMessage }}</p>   
        }
        
        <form 
            class="register-form"
            #registrationForm="ngForm" 
            (ngSubmit)="handleForm(registrationForm)">

            <div class="input-group">
                <input 
                    name="email" 
                    ngModel 
                    required 
                    type="email" 
                    placeholder=" "
                >
                <label>Email</label>
            </div>

            <div class="input-group">
                <input 
                    name="username" 
                    ngModel 
                    required 
                    type="text" 
                    placeholder=" "
                >
                <label>Username</label>
            </div>

            <div class="input-group">
                <input 
                    name="password" 
                    ngModel 
                    required 
                    type="password" 
                    placeholder=" "
                >
                <label>Password</label>
            </div>

            <button type="submit">Register</button>
        </form>

        <p class="login-link">
            Hai già un account?
            <a routerLink="/">Accedi</a>
        </p>

    </div>

</main>
